.product-name {
    height: 60px; /* устанавливаем максимальную высоту */
    overflow: hidden; /* скрываем текст, который не помещается */
    text-overflow: ellipsis; /* добавляем многоточие, если текст обрезается */
}
