/* Logo.css */
.nvdTREq3cVVVVVH {
    position: relative;
    display: flex;
    align-items: center;
    width: 48px; /* Ширина изображения */
    height: 48px; /* Высота изображения */
    transition: transform 1s ease;
}

.nvdTREq3cVVVVVH img {
    width: 100%; /* Сделать изображение 100% ширины родительского элемента */
    height: 100%; /* Сделать изображение 100% высоты родительского элемента */
    object-fit: cover; /* Сохранять пропорции и обрезать изображение, чтобы оно полностью покрывало родительский элемент */
    position: absolute; /* Абсолютное позиционирование внутри родительского элемента */
    top: 0;
    left: 0;
    transition: opacity 0.3s ease; /* Плавный переход для opacity */
}

.nvdTREq3cVVVVVH img.bonvogggc {
    opacity: 0;
}

.nvdTREq3cVVVVVH:hover {
    transform: scale(1.2);
}
